<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaCabana</title>
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wwwroot/LaCabana.styles.css" asp-append-version="true" />
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="~/wwwroot/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/wwwroot/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/wwwroot/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0">
            <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
                <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                    <a href="" class="navbar-brand">
                        <h1 class="m-0 text-primary"><span class="text-dark">La Cabaña</span></h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <a href="@Url.Action("Index","Home")" class="nav-item nav-link active">Inicio</a>  @*VAN LAS REDIRECCIONES*@
                            <a href="@Url.Action("Habitaciones","Home")" class="nav-item nav-link">Habitaciones</a>
                            <a href="@Url.Action("CrearReservas","Reserva")" class="nav-item nav-link">Actividades</a>
                            <a href="@Url.Action("Paquetes","Home")" class="nav-item nav-link">Paquetes</a>

                            <a href="contact.html" class="nav-item nav-link">Contacto</a>
                            <a href="@Url.Action("Login","Home")" class="nav-item nav-link">Iniciar sesion</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer  ARREGLAR PARA QUE NO ABARQUE TODA LA PAGINA -->

    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">LA CABA</span>ÑA</h1>
                </a>
                <p>Somos un pequeño hotel ubicado en Sarapiquí, Costa Rica</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Siguenos</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Nuestros Servicios</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Acerca de nosotros</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Habitaciones</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Actividades</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Paquetes</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contactános</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Sarapiquí, Costa Rica</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope mr-2"></i>lacabana@example.com</p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">
                    Copyright &copy; . Todos los derechos reservados.</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Footer End -->
    <!-- Back to Top -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/wwwroot/lib/easing/easing.min.js"></script>
    <script src="~/wwwroot/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/wwwroot/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/wwwroot/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/wwwroot/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/wwwroot/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/wwwroot/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/wwwroot/js/main.js"></script>


</body>

</html>
